/* import fonts from fonts.css file */
@import url(./fonts.css);

/* css variables */
@import url(./partials/_variables.css);

/* import global styling */
@import url(./partials/_global.css);

/* start navigation */
.header_area .main-menu .navbar .navbar-brand {
  border: none;
  position: relative;
  padding: 0;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}

.header_area .main-menu .navbar .navbar-brand:before,
.header_area .main-menu .navbar .navbar-brand:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 0.3rem;
  width: 0;
  background: var(--gradient-color);
  transition: 400ms ease all;
}
.header_area .main-menu .navbar .navbar-brand:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.header_area .main-menu .navbar .navbar-brand:hover:before,
.header_area .main-menu .navbar .navbar-brand:hover:after {
  width: 80%;
  transition: 800ms ease all;
}

.header_area .main-menu .navbar {
  padding: 1rem 2rem;
}

.header_area .main-menu .nav-item .nav-link {
  font: normal 500 15px/2px var(--roboto);
  text-transform: uppercase;
  padding: 2rem;
  text-align: center;
  color: var(--title-color);
  border-radius: 2rem;
  transition: all 1s;
}

.header_area .main-menu .navbar-nav .active a {
  color: var(--primary-color);
}

.header_area .main-menu .nav-item .nav-link:hover {
  background-color: var(--rose-color);
  padding: 1.5rem;
  border-radius: 2rem;
  color: var(--primary-color2);
}

/* end navigation */

/* Banner Area */
.site-main .site-banner {
  padding: 4.5rem 0rem;
  background: url(../img/banner/joanna-kosinska-78uNJt1kPw8-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

.site-main .site-banner .site-title {
  padding: 0rem 1.5rem;
}

.site-main .site-banner .site-title h3 {
  padding-top: 27.5%;
  font-weight: 500;
}

.site-main .site-banner .site-title h3::after {
  content: "";
  height: 2px;
  width: 22vw;
  background: black;
  display: inline-block;
  margin-left: 5%;
  /* transform: translateY(-10px); */
}

.site-main .site-banner .site-title h1 {
  font-size: 4rem;
}

.site-main .site-banner .site-title h4 {
  font-size: 1.8rem;
}

.site-main .site-banner .banner-image {
  margin: 7rem 0;
  display: flex;
  justify-content: center;
}

.site-main .site-banner .banner-image > img {
  border-radius: 1rem;
  opacity: 0.8;
  width: 90%;
  transition: all 0.5s;
}

.site-main .site-banner .banner-image > img:hover {
  border-radius: 1rem;
  opacity: 1;
  width: 90%;
  box-shadow: var(--box-shadow);
}

/* End Banner Area */

/* Start About Area */
.site-main .about-area {
  padding: 7rem 0rem;
}

.site-main .about-area .about-image img {
  width: 90%;
  border-radius: 50%;
  object-fit: cover;
}

.site-main .about-area .about-image {
  margin: 4rem auto;
  width: 16rem;
  height: 16rem;
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  opacity: 0.8;
  transition: all 1s ease;
}

.site-main .about-area .about-image:hover {
  margin: 4rem auto;
  width: 17rem;
  height: 17rem;
  display: flex;
  background-color: var(--rose-color);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  opacity: 1;
  box-shadow: var(--box-shadow);
  animation: swing 1s ease-in-out infinite;
}

.site-main .about-area .about-title {
  padding: 0 2rem;
}

.site-main .about-area .about-title h2 > span {
  display: block;
  font: normal bold 49px/60px var(--roboto);
  /* letter-spacing: 21px; */
}

.site-main .about-area .about-title .paragraph > p {
  padding: 2em 0;
}

/* End About Area */
