/* import fonts from fonts.css file */
@import url(./fonts.css);

/* css variables */
@import url(./partials/_variables.css);

/* import global styling */
@import url(./partials/_global.css);

/* start navigation */
.header_area .main-menu .navbar .navbar-brand {
  border: none;
  position: relative;
  padding: 0;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}

.header_area .main-menu .navbar .navbar-brand:before,
.header_area .main-menu .navbar .navbar-brand:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 0.3rem;
  width: 0;
  background: var(--gradient-color);
  transition: 400ms ease all;
}
.header_area .main-menu .navbar .navbar-brand:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.header_area .main-menu .navbar .navbar-brand:hover:before,
.header_area .main-menu .navbar .navbar-brand:hover:after {
  width: 80%;
  transition: 800ms ease all;
}

.header_area .main-menu .navbar {
  padding: 1rem 2rem;
}

.header_area .main-menu .nav-item .nav-link {
  font: normal 500 15px/2px var(--roboto);
  text-transform: uppercase;
  padding: 2rem;
  text-align: center;
  color: var(--title-color);
  border-radius: 2rem;
  transition: all 1s;
}

.header_area .main-menu .navbar-nav .active a {
  color: var(--primary-color);
}

.header_area .main-menu .nav-item .nav-link:hover {
  background-color: var(--rose-color);
  padding: 1.5rem;
  border-radius: 2rem;
  color: var(--primary-color2);
}

/* end navigation */

/* Banner Area */
.site-main .site-banner {
  padding: 4.5rem 0rem;
  background: url(../img/banner/joanna-kosinska-78uNJt1kPw8-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

.site-main .site-banner .site-title {
  padding: 0rem 1.5rem;
}

.site-main .site-banner .site-title h3 {
  padding-top: 27.5%;
  font-weight: 500;
}

.site-main .site-banner .site-title h3::after {
  content: "";
  height: 2px;
  width: 22vw;
  background: var(--text-color);
  display: inline-block;
  margin-left: 5%;
  /* transform: translateY(10px); */
}

.site-main .site-banner .site-title h1 {
  font-size: 3.6rem;
}

.site-main .site-banner .site-title h4 {
  font-size: 1.8rem;
  background: linear-gradient(90deg, black 0%, var(--title-color) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0.5rem 0.5rem 0.5rem var(--rose-color3);
}

.site-main .site-banner .banner-image {
  margin: 7rem 0;
  display: flex;
  justify-content: center;
}

.site-main .site-banner .banner-image > img {
  border-radius: 1rem;
  opacity: 0.8;
  width: 90%;
  transition: all 0.5s;
}

.site-main .site-banner .banner-image > img:hover {
  border-radius: 1rem;
  opacity: 1;
  width: 90%;
  box-shadow: var(--box-shadow);
}

/* End Banner Area */

/* Start About Area */
.site-main .about-area {
  padding: 7rem 0rem;
}

.site-main .about-area .about-photos {
  padding-left: 5%;
}

.site-main .about-area .about-image img {
  width: 90%;
  border-radius: 50%;
  object-fit: cover;
}

.site-main .about-area .about-image {
  margin: 3rem auto;
  width: 16rem;
  height: 16rem;
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  opacity: 0.8;
  transition: all 1s ease;
}

.site-main .about-area .about-image:hover {
  margin: 3rem auto;
  width: 17rem;
  height: 17rem;
  display: flex;
  background-color: var(--rose-color);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  opacity: 1;
  box-shadow: var(--box-shadow);
  animation: swing 1s ease-in-out infinite;
}

.site-main .about-area .about-title {
  padding-left: 8%;
}

.site-main .about-area .about-title h2 > span {
  display: block;
  font: normal bold 49px/60px var(--roboto);
  /* letter-spacing: 21px; */
}

.site-main .about-area .about-title .paragraph > p {
  padding: 2em 0;
}

/* End About Area */

/* Start Brand Area */
.site-main .brand-area {
  padding: 8rem 0rem;
}

.site-main .brand-area .brand-images {
  /* padding-left: 5%; */
  padding: 0rem 4rem 5rem 4rem;
}

.site-main .brand-area .first-row .col-lg-4 {
  display: flex;
  justify-content: center;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand {
  border: 1px solid var(--border-color);
  text-align: center;
  padding: 1.8rem 0;
  margin: 0.9rem 0;
  width: 160px;
  height: 90px;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand > img {
  width: 50%;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover {
  box-shadow: var(--box-shadow);
  transform: scale(1.1);
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover > img {
  filter: brightness(0.2);
}

.site-main .brand-area .experience-area {
  padding-left: 10%;
}

.site-main .brand-area .experience-area span {
  display: block;
}

/* .site-main .brand-area .experience-area .years-area {
  background: url(../img/client-info-bg.png) no-repeat 3% 1.5%;
  padding: 2% 0;
  width: 10%;
  height: 5%;
  padding-left: 12%;
  position: relative;
} */

.site-main .brand-area .experience-area .years-area {
  background: url(../img/client-info-bg.png) no-repeat 0 0;
  padding: 3% 0;
  width: auto;
  height: 12rem;
  padding-left: 15%;
  position: relative;
}

.site-main .brand-area .experience-area .bg-panel {
  position: absolute;
  left: -10%;
  top: -10%;
  background: var(--rose-color);
  width: 25rem;
  height: 25rem;
  margin-left: 30%;
  z-index: -1;
  opacity: 0.5;
  box-shadow: var(--box-shadow);
}

.site-main .brand-area .experience-area .years-area .years {
  font: normal bold 84px/40px var(--roboto);
  color: var(--primary-color2);
  z-index: 2;
}

.site-main .brand-area .experience-area .years-area h2 > span {
  font: normal 600 22px/30px var(--roboto);
}

.site-main .brand-area .experience-area .call-area {
  padding-top: 10%;
  padding-left: 15%;
}
/* End Brand Area */

/* Services Area */

.site-main .services-area {
  padding: 7rem 0rem;
}

.site-main .services-area .services-title {
  padding: 5% 10%;
}

.site-main .services-area .services-title h1 {
  font-size: 35px;
}

.site-main .services-area .services-list .services {
  background: rgba(230, 243, 235, 0.973);
  padding: 5% 0;
  width: 100%;
  margin: 5% 0.5%;
  transition: box-shadow 0.3s ease;
}

/* .site-main .services-area .services-list {
  margin-top: 0;
} */

.site-main .services-area .services-list .services:hover {
  box-shadow: var(--box-shadow2);
}

/* End Services Area */

/* Project Area */

.site-main .project-area {
  padding: 4% 8%;
}

.site-main .project-area .button-group {
  padding-bottom: 5%;
}

.site-main .project-area .button-group button {
  background: transparent;
  border: none;
  font: normal 500 1rem/2rem var(--roboto);
  text-transform: uppercase;
}

.site-main .project-area .button-group button + button {
  padding-left: 3%;
}

.site-main .project-area .grid .my-project > .title h4 {
  font: normal 700 25px/12px var(--roboto);
}

.site-main .project-area .grid .element-item.swing {
  animation: swing 2500ms ease infinite;
}

.site-main .project-area .grid .my-project .img a:hover img {
  filter: brightness(1.1);
  /* filter: drop-shadow(1px 8px 30px #b1afaf); */
}
/* End Project Area */
/* Start Clients Area */

.site-main .clients-area {
  padding: 7rem 0;
}

.site-main .clients-area .clients-title p {
  padding: 5% 10%;
}

.site-main .clients-area .client {
  background: #ffffff10;
  border: 2px dotted var(--primary-color2);
  box-shadow: var(--box-shadow2);
  margin: 5% 0%;
}

.site-main .clients-area .client .client-img {
  padding: 5%;
}
.site-main .clients-area .client .client-say {
  padding-top: 5%;
}

.site-main .clients-area .client .client-say h4 {
  font: normal 500 21px/20px var(--roboto);
}
.site-main .clients-area .client .client-say p {
  font-size: 14px;
}

.site-main .clients-area .owl-carousel .owl-item {
  display: flex;
  justify-content: center;
  padding: 0 1.5rem;
}

.site-main .clients-area .owl-carousel .owl-dots .owl-dot.active span {
  background: var(--primary-color);
  width: 12px;
  height: 12px;
  box-shadow: var(--box-shadow2);
}

/* End Clients Area */

/* Subscribe me Area */

.site-main .subscribe-me-area {
  padding: 5rem 0;
}

.site-main .subscribe-me-area .subscribe {
  background: url(../img/banner/abigail-lynn-9JrBiphz0e0-unsplash.jpg) no-repeat
    50% 50%;
  padding: 10rem 0;
  margin: 3rem auto;
  box-shadow: var(--box-shadow2);
}

.site-main .subscribe-me-area .subscribe .subscribe-title h4 {
  font: normal 700 30px/30px var(--roboto);
  color: whitesmoke;
}

.site-main .subscribe-me-area .subscribe .subscribe-title p {
  color: whitesmoke;
  padding: 1% 5%;
}

.site-main .subscribe-me-area .subscribe form {
  margin: 0% auto;
}

.site-main .subscribe-me-area .subscribe form .input-textbox input {
  width: 150%;
  padding: 7% 5%;
  border: 2px solid whitesmoke;
  background: transparent;
  color: whitesmoke;
  font: normal 500 17px/20px var(--roboto);
}

.site-main
  .subscribe-me-area
  .subscribe
  form
  .input-textbox
  input::placeholder {
  color: whitesmoke;
}

.site-main .subscribe-me-area .subscribe form .btn-submit button {
  border: 2px solid whitesmoke;
}
