html,
body {
  margin: 0%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

/* CSS Variables */

:root {
  --primary-color: #025f1e;
  --primary-color2: #409c3d;
  --rose-color: #ffe4e1;
  --title-color: #141313;
  --text-color: #777777;
  --border-color: #201f1f17;
  --gradient-color: linear-gradient(90deg, #025f1e 0%, #409c3d 100%);
  --shadow-color: 0px 10px 30px rgba(85, 225, 108, 0.3);
  --box-shadow: 0px 10px 30px rgba(56, 61, 56, 0.205);

  /* font family variables. */
  --roboto: "Roboto";
}
